.env

*.zip

notas.md
ultima_clase_sql/

django_modulo_7/semana1/clase_1/menu_restaurante.sql
django_modulo_7/semana3/clase_10/cierre_unidad.md
django_modulo_7/semana3/clase_12/cierre_unidad_clase_13.md