* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --color-midnight-blue: #1E1F26;
  --color-indigo-ink: #283655;
  --color-blueberry: #fd0000;
  --color-periwinkle: #D0E1F9;
  --font-principal: "Ubuntu", sans-serif;
}


html {
    font-family: var(--font-principal);
    background-color: var(--color-periwinkle);
}



.menu {
    background-color: var(--color-blueberry);
    color: white;
    padding: 20px;
    
}

.lista-menu {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.boton-menu {
    display: inline-block;
    text-decoration: none;
    color: rgb(2, 2, 2);
    background-color: rgb(0, 255, 0);
    padding: 5px 20px;
    border-radius: 20px;
    width: 130px;
    text-align: center;
}


.titulo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    padding: 0 25px;
}

.titulo {
    color: white;
    font-size: 30px;
    margin: 20px 0;
}
 
.parrafo {
    color: white;
    font-size: 18px;
}
.miscajas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    background-color: var(--color-midnight-blue);
    height: auto;
    min-height: 400px;
    min-width: 320px;
    padding: 50px;    
    
}


.caja-1 {
    background-color:  var(--color-blueberry);
    height: 150px;
    width: 150px;
    padding: 50px;
    font-weight: 400;
    font-size: 24px;
    border-radius: 7px;
}

.caja-2{
    background-color: var(--color-indigo-ink);
    height: 150px;
    width: 150px;
    padding: 50px;
    font-weight: 400;
    font-size: 24px;
    
}

.caja-3{
    background-color: var(--color-periwinkle);
    height: 150px;
    width: 150px;
    padding: 50px;
    font-weight: 400;
    font-size: 24px;
    
}



