@media (min-width: 650px) {

    .titulo {
       font-size: 35px; 
       margin-top: 50px;
    }
 
   .parrafo {
    font-size: 25px;
   }

    .caja-1 {
    height: 250px;
    width: 250px;
    font-size: 24px;
    }

    .caja-2{
        height: 250px;
        width: 250px;
        font-size: 24px;
    }

    .caja-3 {

        height: 250px;
        width: 250px;
        font-size: 24px;
    }


}